@font-face {
    font-family: 'Inter';
    src: url('/src/shared/assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('/src/shared/assets/fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

